.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.linkButton {
    background-color: aqua;
    height: 50px;
    width: 200px;
}

.promptButton {
    background-color: blueviolet;
    height: 50px;
    width: 200px;
}